@charset "utf-8";

body {
  cursor: url("../assets/cursor/yugicursor.png"), default;
}

button,
a,
img:hover,
button:hover,
a.card:hover {
  cursor: url("../assets/cursor/yamiyugicursorGLOW.png"), auto;
}

/* CONFIGURAÇÃO DO VÍDEO */
.bg-video {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  z-index: -2;
}

.bg-video .video {
  height: 100vh;
}

.bg-video::after {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  content: "";
  height: 100vh;
  width: 100vw;
}

/* CONFIGURAÇÃO DO CONTAINER PRINCIPAL */
.container {
  position: relative;
  display: flex;
  height: 100vh;
  z-index: 3;
}

/* CONTAINER LEFT */
.container__left {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  min-width: 300px;
  width: 35%;
}

.score_box {
  background-color: #fff;
  padding: 30px;
}

.frame {
  border: 3px solid #000;
  border-radius: 5px;
}

.card_details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  height: 6rem;
  padding: 1rem;
  width: 100%; 
}

#card-name {
  font-size: 0.8rem;
}

#card-type {
  font-size: 1rem;
}

/* CONTAINER RIGHT */
.container__right {
  width: 65%;
}

.card-box__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 0.3rem;
}

.card-versus__container {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-items: center;
  height: 300px;
  padding-top: 0.1rem;
}

.versus-top,
.versus-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.versus-bottom {
  margin-top: 1rem;
}

#next-duel {
  display: none;
}


.card-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height: 9rem;
  width: 100%;
}

.card-infield {
  border: 1px solid #fff;
  border-radius: 8px;
  height: 11.2rem;
  width: 8rem;
}

/* DESENVOLVIDO VIA JAVASCRIPT */
.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.2);
}